.containerBg{
    /* padding: 400px; */
    height: 95vh;
    max-width: 100%;
    background-image: url('../assets/herobg.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}
.heroText{
    margin-bottom: 6rem;
    padding: 12rem 0;
}