.contect-box{
    background-color: rgb(255, 255, 255);
}
.form-container {
    background: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 50px auto;
}
.form-title {
    margin-bottom: 20px;
}
.btn-custom {
    background-color: #007bff;
    color: #ffffff;
    border: none;
}
.btn-custom:hover {
    background-color: #0056b3;
}